// styles in src/style directory are applied to the whole page
body {
    background: #0147A7;
    color: #fff;
}
a {
    color: #03A9F4;
}
@font-face {
  font-family: 'iconfont';  /* project id 106029 */
  src: url('//at.alicdn.com/t/font_68zfogb4kmbtvs4i.eot');
  src: url('//at.alicdn.com/t/font_68zfogb4kmbtvs4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_68zfogb4kmbtvs4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_68zfogb4kmbtvs4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_68zfogb4kmbtvs4i.svg#iconfont') format('svg');
}
